<%= render 'common/nav' %>
<hr>
<% @toys.each do |toy|%>
<h4><%= toy.name %></h4>
<p><%= toy.description %></p>
<p><%= toy.date %></p>

<% if toy.user != nil %>
  <p>Users email:   <%= toy.user.email %></p>
<% end %>

<p><%= link_to('Show', toy_path(toy.id)) %> </p>
<p><%= link_to('EDIT', edit_toy_path(toy.id)) %></p>
<p><%= link_to('D E S T R O Y', toy_path(toy.id), method: :delete, data: { confirm: 'Are you sure?' }) %></p>
<hr>
<% end %>